{% extends 'base.html' %}

{% block title %}
<table class="table">
    <thead>
        <tr>
            <th>Index</th>
            <th>City</th>
            <th>Country</th>
            <th>Active</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for item in budgettransaction_list %}
                <td>{{ forloop.counter }}</td>
                <td>{{ item.city }}</td>
                <td>{{ item.country }}</td>
                <td>{{ item.active }}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="{% url 'transactions:adaugare' %}">Adauga</a>
                </td>
            {% endfor %}
        </tr>

    </tbody>
</table>

{% endblock %}

